.menu {
  background-color: #fff;
  padding: 20px 0;
  font-family: 'Montserrat', 'Nanum gothic', 'Noto sans', 'Noto sans kr',
    'Nanum gothic';
}

.navbar-collapse {
  text-align: center;
}

.carousel-caption-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 0 15px;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.blank-item {
  min-height: 100px;
  display: block;
}

.item {
  position: relative;
}

.form-inline {
  padding: 75px 40px;
}

.form-inline .contact-privacy-area input.contact-checkbox-text {
  float: left;
  margin: 6px 6px 12px 0;
}

.form-inline .contact-privacy-area textarea.contact-privacy-box {
  height: 100px;
  min-height: 100px;
}

.form-group .form-control {
  font-family: 'Roboto', 'Nanum Gothic';
  letter-spacing: 0.05m;
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
  background-color: #f6f6f6;
}

.btn-custom {
  float: right;
  line-height: 1.5;
  border: none;
  border-radius: 0;
  background-color: #c6aa94;
  min-width: 160px;
  padding: 10px 30px;
  margin-bottom: 80px;
  white-space: normal;
}

.info {
  position: relative;
  padding: 40px 0px 40px 0px;
  background-color: #333;
}

.info .item {
  padding-left: 40px;
}

.info .line {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 15px;
  width: 1px;
  background-color: #858585;
}

.info .cl_caption {
  margin-top: 0;
}

@media only screen and (max-width: 991px) {
  .info .container .row[data-matrix-loop='true'] .item {
    padding-left: 30px;
  }

  .info .cl_caption {
  }
}

@media only screen and (max-width: 767px) {
  .info .container .row[data-matrix-loop='true'] .item {
    padding-left: 25px;
  }

  .info .line {
    left: 10px;
  }
}

.footer {
  background-color: #333;
  padding-bottom: 20px;
  font-family: 'Noto Sans KR';
  font-size: 13px;
}
