@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-li {
    flex: 1;
    margin-right: 0;
  }
  ul.navbar-nav {
    text-align: right;
    line-height: 1;
    margin: 0;
  }
  ul.navbar-nav > li {
    position: relative;
    float: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
}

.navbar-toggler {
  border: 0 #fff;
}

.navbar-header {
  vertical-align: top;
}

.narbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-menu {
  flex-grow: 1;
}

.menu-lifejob {
  background-color: #fff;
  padding: 20px 0;
  font-family: 'Montserrat', 'Nanum gothic', 'Noto sans', 'Noto sans kr',
    'Nanum gothic';
}
